{% load static %}

<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="{% static 'style/main.css'%}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav id="menu">
            <a href="{% url 'home' %}">Home</a>
        </nav>
        <div id="content">
            {% block content %}
                NO CONTENT DEFINED. (THIS IS A PLACEHOLDER.)
            {% endblock %}
        </div>
        <footer>
            AND THIS IS THE FOOTER.
        </footer>
    </body>

</html>
