html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
}
nav {
    flex-shrink: 0;
    padding: 8px;
    color: white;
    background-color: #888;
    border-bottom: 4px solid black;
}
#content {
    padding: 8px;
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    color: white;
    padding: 8px;
    background-color: #888;
    border-top: 4px solid black;
}
